* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #5e27f5;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}



a {
  font-family: "Josefin Sans", sans-serif; 
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Navbar Section */
.navbar {
  background: #fff;
  padding: 30px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li a {
  display: block;
  transition: 0.5s;
}

.container .logo {
  display: flex;
  gap: 10px;
}

.logo img {
  width: 56px;
  height: 34px;
}

.logo-name {
  font-family:  "Cedarville Cursive", cursive;;
  font-size: 32px;
  font-weight: 400;
}
.navbar .main-menu {
  display: flex;
  gap: 30px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.ul {
  list-style: none;
}

.btn {
  width: 135px;
  height: 43px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 7px;
  background: #2D635E;
}

/* Coffe Shop */

.coffe-shop {
  background: #fff;
  padding: 20px;
}

.coffe-shop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffe-labels {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coffe-motto {
  font-family: "Cedarville Cursive", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
}

.coffe-label {
  font-family: "Josefin Sans", sans-serif ;
  font-size: 54px;
}

.grinds-section {
  display: flex;
}

.order-btn {
  width: 235px;
  height: 54px;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 30px;
  color: #fff;
  border-radius: 8px;
  background: #2D635E;
  text-align: center;
}

.coffe-box {
  position: relative;
  top: 0;
  right: 0;
  width: 340px;
  height: 406px;
  background-color: #d5e7df;
  z-index: 1;
}

.grinds-section img {
  position: absolute;
  bottom: -50px;
  right: 10px;
  width: 304px;
  height: 373px;
  z-index: 2;
}

.small-box {
  position: absolute;
  bottom: 0;
  left: -149px;
  width: 149px;
  height: 147px;
  background-color: #E3EBE7;
}


/* Vertical text */

.follow-text {
  font-family: "Josefin Sans", sans-serif;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 25px;
  letter-spacing: 5px;
}

/* Cup section */

.cup-section {
  background: #fff;
  padding: 150px;
}

.cup-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cup-text {
  width: 645px;
  height: 290px;
}

.cup-text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 38px;
}

.cup-text p {
  font-family: "Alegreya Sans", sans-serif ;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
}

.cup-box {
  position: relative;
  top: 0;
  left: 0;
  width: 340px;
  height: 257px;
  background-color: #fae9e0;
  z-index: 1;
}
.cup img {
  position: relative;
  top: 50px;
  left: 30px;
  width: 344px;
  height: 242px;
  z-index: 2;
}

/* Americano Section */

.americano-section {
  background: #fff;
  padding: 40px;
}

.americano-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.americano-text {
  width: 615px;
  height: 238px;
}

.order {
  margin-top: 20px;
}

.btn-order {
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  background: #2D635E;
  text-align: center;
}

.americano-text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 38px;
}

.americano-text p {
  font-family: "Alegreya Sans", sans-serif ;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
}

.americano-box {
  position: relative;
  top: 0;
  left: 0;
  width: 410px;
  height: 276px;
  background-color: #E3EBE7;
  z-index: 1;
}
.americano img {
  position: relative;
  bottom: 33px;
  left: 90px;
  width: 236px;
  height: 320px;
  z-index: 2;
}

/* Cards */

.cards-section {
  background-color: #E3EBE7;
  padding: 40px;
  margin-top: 120px;
  text-align: center;
}

.cards-section .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card-content {
  width: 340px;
  height: 458px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 5px 10p rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 30px 30px;
  line-height: 59px;
}

.card-content h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.card-content p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  padding: 30px;
  text-align: center;
}

.card-button {
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  background: #2D635E;
  text-align: center;
}

/* Map Section */

.map-section .container{
  display: flex;
  padding-top: 90px;
}

.map img {
  width: 100%;
  height: 300px;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: #444A4A;
  margin: 30px;
}

.adress {
  margin: 10px;
}

.adress h3 {
  font-family:"Josefin Sans", sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 500;
}

.adress p {
  font-family:"Alegreya Sans", sans-serif ;
  font-size: 19px;
  line-height: 50px;
  font-weight: 300;
}

/* Last */

.last {
  font-family:"Alegreya Sans", sans-serif ;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 90px;
  text-align: center;
}

@media( max-width : 1360px) {

  /* Cup SEction */
.cup-box {
  position: relative;
  top: 0;
  left: -45px;
  width: 340px;
  height: 257px;
  background-color: #fae9e0;
  z-index: 1;
}
.cup img {
  position: relative;
  top: 50px;
  left: 30px;
  width: 344px;
  height: 242px;
  z-index: 2;
}
}

@media ( max-width : 1200px) {

/* Coffe Label */

.coffe-motto {
  font-size: 23px;
  font-weight: 300;
}

.coffe-label {
  font-size: 40px;
}

.order-btn {
  width: 200px;
  height: 45px;
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
}
/* Cup section */

.cup-section {
  background: #fff;
  padding: 90px;
}

.cup-section .container {
  padding: 20px;
}

.cup-text {
  height: 230px;
}

.cup-text h2 {
  font-size: 30px;
}

.cup-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.cup-box {
  left: -50px;
  width: 300px;
  height: 230px;
}
.cup img {
  top: 50px;
  left: 30px;
  width: 300px;
  height: 210px;
}

/* Cards Section */

.cards-section {
  padding: 20px;
}

.card-content {
  width: 290px;
  height: 400px;
  border-radius: 12px;
  padding: 10px;
  line-height: 20px;
}

.card-content h3 {
  font-size: 30px;
}

.card-content p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  padding: 30px;
  text-align: center;
}

/* Map Section */

.map-section .container{
  display: flex;
  padding-top: 30px;
  margin: 40px;
}

.divider {
  width: 95px;
  height: 2px;
  background-color: #444A4A;
  margin: 20px;
}

.adress h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
}

.adress p {
  font-family:"Alegreya Sans", sans-serif ;
  font-size: 15px;
  line-height: 50px;
  font-weight: 300;
}

}